@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --verde: #8ae696;
    --verdeEscuro: #51B45F;
    --azul: #83BEDF;
}

body{
    overflow-x: hidden;
}

.header-bg{
    height: 78px;
    width: 100%;
    margin-top: 50px;
    background-image: url('../img/bar-header.png');
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}

.nav-header{
    margin-left: 80px;
    width: 53%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    
}

.nav-headerB{
    /* margin-right: 80px; */
    width: 55%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    
}

.links_h {
    margin-bottom: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px #0000007c;
    transition: color 0.4s ease-in-out;
}


.links_h:hover{
    color: #e1e1e1;
}

.btn_login{
    width: 70px;
    height: 35px;
    padding: 5px;
    border-radius: 61px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    color: white;
    background-color: var(--verde);
    border: none;
    transition: background-color 0.4s ease-in-out;
    transition: color 0.3s ease-in-out;
    transition: scale 0.3s ease-in-out;
    position: relative;
    margin-bottom: 20px;
    margin-right: 40px;
    
}

.btn_login:hover{
    color: var(--verdeEscuro);
    background-color:  white;
    scale: 1.08;
}

.btn_login_M{
    width: 151px;
    height: 58px;
    padding: 5px;
    border-radius: 61px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    color: white;
    background-color: var(--azul);
    border: none;
    transition: background-color 0.4s ease-in-out;
    transition: color 0.3s ease-in-out;
    transition: scale 0.3s ease-in-out;
    position: relative;
    margin-bottom: 20px;
    margin-right: 40px;
    position: relative;
    top: 42vh;
    left: 26vw;
    font-size: 30px;
}

.btn_login_M:hover{
    color: var(--verdeEscuro);
    background-color:  white;
    scale: 1.08;
}


.dot {
    height: 176px;
    width: 173px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transform: scale(1);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .logo_Header{
      margin-top: 10px;
      margin-left: 10px;
      scale: 0.75;
      transform: scale(1);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

  .logo_Header:hover{
      transform: scale(1.2);
  }


  .banner_bg{
    scale: 0.6;
  }

  .container_Sec1{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 600px;
  }

  .container_main{
      background-image: url('../img/fundo\ main\ banner.png');
      height: 84vh;
      width: 76vw ;
      background-repeat: no-repeat;
      background-size: 76vw 84vh;
      position: absolute;
  }

  section h1{
      position: relative;
      top: 15vh;
      left: 39vw;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 50px;
    /* text-decoration: none; */
    color: white;
    text-shadow: 2px 2px #0000007c;
    /* transition: color 0.4s ease-in-out; */
  }

  section p{
    position: relative;
    top: 25vh;
    left: 39vw;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
    /* text-decoration: none; */
    color: var(--azul);
    text-shadow: 2px 2px #0000007c;
    width: 431px;
    text-align: center;

  }

section span{
    position: relative;
    top: 42vh;
    left: 10vw;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 46px;
    color: white;
    text-shadow: 2px 2px #0000007c;
}


